.bg {
  /*background-image: url("../img/blur.jpg");
	background-attachment: fixed;
                    background-size:cover;
                    min-width:1000px;*/
  background-color: #191604;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  position: relative;
  font-family: "AlegreyaS", "Calibri", "sans-serif";
  color: #1e1402;
  /*background-image: url("../img/blur.jpg");
	background-attachment: fixed;
                    background-size:cover;
                    min-width:1000px;*/
  background-color: #191604;
}
.heading {
  padding: 15px 25px;
  background-color: #ffd635;
}
.heading h2 {
  font-family: "AlegreyaS";
  font-size: 2.2rem;
  color: #fef9f1;
}
/*---STYLEGUIDE*/
.color1 {
  background-color: #ffd635;
}
.color2 {
  background-color: #d89520;
}
.color3 {
  background-color: #ad7008;
}
.color4 {
  background-color: #3f2a0c;
}
.color5 {
  background-color: #33220a;
}
.color6 {
  background-color: #1e1402;
}
.color7 {
  background-color: #020100;
}
.colorgrey {
  background-color: #fef9f1;
}
/*FONTS*/
.crimson {
  font-family: "Cinzel";
}
.alegreya {
  font-family: "Alegreya";
}
.alegreyas {
  font-family: "AlegreyaS";
}
.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-color: #d3d3d3;
  background: -moz-radial-gradient(center, ellipse cover, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  background: radial-gradient(ellipse at center, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#eb686868', GradientType=1);
  z-index: -1;
}
.prevrow {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 500px;
  margin: 20px auto;
}
.prevboxes {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.prevboxes:first-of-type {
  width: 30%;
}
.prevboxes .prevbox {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 23px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  color: #fef9f1;
}
.prevboxes .prevbox.colorgrey {
  color: #33220a;
}
/*STYLEGUIDE*/
h1 {
  color: #ffd635;
  font-family: "Cinzel";
  font-size: 4.5rem;
}
h2 {
  color: #d89520;
  font-family: "Cinzel";
  font-size: 3.25rem;
}
h3 {
  color: #ad7008;
  font-family: "Cinzel";
  font-size: 2.5rem;
}
h4 {
  color: #3f2a0c;
  font-family: "Cinzel";
  font-size: 2rem;
}
h5 {
  color: #33220a;
  font-family: "Cinzel";
  font-size: 1.6rem;
}
h6 {
  color: #1e1402;
  font-family: "Cinzel";
  font-size: 1.4rem;
}
p {
  color: #1e1402;
  font-family: "AlegreyaS";
}
b {
  color: #1e1402;
  font-weight: bold;
  font-family: "AlegreyaS";
}
b.light {
  color: #FFFFFF;
}
.light {
  color: #fef9f1;
}
a,
a:link,
a:visited {
  color: #ffd635;
  text-decoration: underline;
  text-decoration-style: dashed;
  font-family: "AlegreyaS";
  font-weight: bold;
  transition: color .1s;
}
a:hover,
a:active {
  color: #d89520;
}
.box a,
.box a:link,
.box a:visited {
  color: #1e1402;
  letter-spacing: .05rem;
  line-height: 5rem;
  font-weight: normal;
  padding: 15px;
  border: 1px solid #1e1402;
  text-decoration: none;
  width: 200px;
  margin: 50px 0px 0px 0px;
  text-align: center;
  transition: border .1s, color .1s, padding .1s;
}
.box.boxlight a,
.box.boxlight a:link,
.box.boxlight a:visited {
  color: #fef9f1;
  border: 1px solid #fef9f1;
}
.box a:hover,
.box.boxlight a:hover {
  border: 1px solid #ffd635;
}
.box a:active,
.box.boxlight a:active {
  border: 6px solid #ffd635;
  padding: 10px;
}
ul {
  padding: 15px;
}
ul li {
  padding: 5px 0px;
}
ul.menu {
  background-color: rgba(30, 20, 2, 0.8);
  width: 100%;
  display: block;
  list-style: none;
}
ul.menu li {
  text-align: right;
  line-height: 2rem;
  padding: 0px;
}
ul.menu li a {
  display: block;
  text-decoration: none;
  color: #fef9f1;
  font-weight: normal;
  letter-spacing: .05rem;
  padding: 5px 0px;
}
ul.menu li a:hover {
  color: #ffd635;
}
/*---PAGES---*/
#wrapper {
  color: #fff;
}
#wrapper nav {
  width: 100%;
}
#wrapper nav ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
#wrapper nav ul li {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
  list-style-type: none;
  padding: 15px;
}
#wrapper nav ul li:hover,
#wrapper nav ul li.active {
  background-color: #333;
}
#wrapper div.sections {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
#wrapper div.sections section {
  width: 100%;
  padding: 25px;
  flex-shrink: 0;
  background-color: #fff;
  color: #111;
  -webkit-transition: margin 1s, opacity .8s .2s, transform 1s;
  -moz-transition: margin 1s, opacity .8s .2s, transform 1s;
  transition: margin 1s, opacity .8s .2s, transform 1s;
}
#wrapper div.sections section.active.linear {
  z-index: 1;
}
#wrapper div.sections section.active.cubic {
  z-index: 1;
  margin: 0;
}
#wrapper div.sections section.active.cubic-out {
  z-index: 1;
  margin: 0;
}
#wrapper div.sections section.active.stack {
  z-index: 1;
}
#wrapper div.sections section.inactive-left.linear {
  opacity: 1;
  z-index: 0;
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.cubic {
  opacity: 0;
  z-index: 0;
  transform: scale(1.3) rotateY(70deg);
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.cubic-out {
  opacity: 0;
  z-index: 0;
  transform: scale(0.6) rotateY(-50deg);
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.stack {
  opacity: 0;
  z-index: -1;
  transform: scale(0.2);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.linear {
  opacity: 1;
  z-index: 2;
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.cubic {
  opacity: 0;
  z-index: 0;
  transform: scale(1.3) rotateY(-70deg);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.cubic-out {
  opacity: 0;
  z-index: 0;
  transform: scale(0.6) rotateY(50deg);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.stack {
  opacity: 1;
  z-index: 2;
  transform: scale(1);
}
#wrapper div.sections section div.content {
  position: relative;
}
#wrapper div.sections section div.content .video {
  width: 100%;
}
#wrapper div.sections section div.content .video .videowrapper {
  max-width: 500px;
  margin: 0 auto;
}
#wrapper div.sections section div.content .video .videowrapper video {
  width: 100%;
}
#wrapper div.sections section div.content .module-preview {
  width: 80%;
  max-width: 750px;
  margin: 25px auto;
}
#wrapper div.sections section div.content .module-preview .module-previewwrapper img {
  width: 100%;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  width: 100%;
}
nav .nav-icon {
  cursor: pointer;
  float: right;
  height: 100px;
  width: 100px;
  background-color: rgba(63, 42, 12, 0.4);
}
nav .nav-icon #burger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 25px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
nav .nav-icon #burger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ffd635;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
nav .nav-icon #burger span:nth-child(1) {
  top: 0px;
}
nav .nav-icon #burger span:nth-child(2),
nav .nav-icon #burger span:nth-child(3) {
  top: 18px;
}
nav .nav-icon #burger span:nth-child(4) {
  top: 36px;
}
nav ul {
  list-style-type: none;
  position: absolute;
  padding: 25px;
  top: 0;
  left: 100%;
  z-index: -1;
  width: 100%;
  background-color: #fef9f1;
  opacity: 0;
  -webkit-transition: opacity .5s 0s, left 1s 0.1s;
  -moz-transition: opacity .5s 0s, left 1s 0.1s;
  -o-transition: opacity .5s 0s, left 1s 0.1s;
  transition: opacity .5s 0s, left 1s 0.1s;
}
nav ul li {
  border-bottom: 1px dashed #d89520;
  padding: 10px 0px;
}
nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  color: #d89520;
  white-space: nowrap;
  line-height: 55px;
}
nav ul li a:hover {
  color: #ffd635;
}
nav ul li:last-child {
  border-bottom: none;
}
nav.open {
  margin-left: 0%;
}
nav.open .nav-icon #burger span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav.open .nav-icon #burger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
nav.open .nav-icon #burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
nav.open .nav-icon #burger span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav.open ul {
  left: 0%;
  opacity: 1;
  -webkit-transition: opacity .5s 0.5s, left 1s 0s;
  -moz-transition: opacity .5s 0.5s, left 1s 0s;
  -o-transition: opacity .5s 0.5s, left 1s 0s;
  transition: opacity .5s 0.5s, left 1s 0s;
}
/*---HERO---*/
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero .hero-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow: hidden;
}
.hero .content {
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 135px 5% 50px 5%;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero .content .head {
  letter-spacing: .1rem;
}
.hero .content .subhead {
  letter-spacing: .4rem;
}
.hero .content .box {
  margin-top: 50px;
}
.hero-img {
  width: 100%;
}
/*---SPLIT---*/
.split {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 5% 60px 5%;
  text-align: center;
  background-color: #fef9f1;
}
.split .section {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}
.split .section .icon {
  margin: 0px 0px 20px 0px;
  font-size: 6rem;
  display: block;
  transition: margin .5s;
  color: #ad7008;
}
.split .section .head {
  margin: 0px 0px 10px 0px;
  transition: margin .5s;
  color: #ad7008;
  font-size: 2rem;
}
.split .section .content {
  margin: 10px 0px 0px 0px;
  transition: opacity .5s, height .5s;
  color: #020100;
}
.bigpicture {
  height: 550px;
  position: relative;
  background: #232323;
  background: -moz-radial-gradient(center, ellipse cover, #232323 0%, #0c0c0c 41%, #000000 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #232323 0%, #0c0c0c 41%, #000000 100%);
  background: radial-gradient(ellipse at center, #232323 0%, #0c0c0c 41%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232323', endColorstr='#000000', GradientType=1);
  background-attachment: fixed;
  z-index: -3;
}
.bigpicture .onpicture {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../img/daniel_durak1.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 80%;
  z-index: -2;
}
.bigpicture .onpicture .information {
  color: #ffd635;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-end;
  z-index: -1;
}
.bigpicture .onpicture .information .row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  padding: 0px 15px;
}
.bigpicture .onpicture .information .row .title {
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.bigpicture .onpicture .information .row .text {
  width: 100%;
  color: #fef9f1;
}
.bigpicture .onpicture .information .row:last-of-type {
  margin-bottom: 70px;
}
.preferences {
  background-color: #FEF9F1;
}
.preferences .row {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 25px;
  width: 100%;
  margin: 0 auto;
}
.preferences .row .box {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 50px;
  border-right: 1px dashed #FFD635;
  border-bottom: 1px dashed #FFD635;
}
.preferences .row .box:nth-of-type(2),
.preferences .row .box:nth-of-type(4),
.preferences .row .box:nth-of-type(6),
.preferences .row .box:nth-of-type(8) {
  border-right: none;
}
.preferences .row .box:nth-of-type(7),
.preferences .row .box:nth-of-type(8) {
  border-bottom: none;
}
.preferences .row .box .img-wrapper {
  width: 100%;
}
.preferences .row .box .img-wrapper img {
  width: 100%;
}
.timeline .row {
  padding: 15px 5px;
  background-color: #fef9f1;
}
.timeline .row .timepoint {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  perspective: 800px;
}
.timeline .row .timepoint .boxwrapper {
  width: 60%;
  padding: 15px;
  padding-right: 0px;
}
.timeline .row .timepoint .boxwrapper .box {
  background-color: #3f2a0c;
  padding: 25px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  position: relative;
}
.timeline .row .timepoint .boxwrapper .box h2 {
  font-size: 1.2rem;
  color: #fef9f1;
}
.timeline .row .timepoint .boxwrapper .box i {
  margin: 15px 0px;
  font-size: 2rem;
}
.timeline .row .timepoint .boxwrapper .box p {
  color: #d89520;
}
.timeline .row .timepoint .boxwrapper .box:before {
  position: absolute;
  content: "";
  left: 14px;
  width: 50%;
  bottom: 6%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 6px 12px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
  z-index: -1;
}
.timeline .row .timepoint .boxwrapper .box:after {
  position: absolute;
  content: "";
  right: 14px;
  width: 50%;
  bottom: 6%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 6px 12px rgba(0, 0, 0, 0.7);
  transform: rotate(3deg);
  z-index: -1;
}
.timeline .row .timepoint .linewrapper {
  width: 10%;
}
.timeline .row .timepoint .linewrapper .line {
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  height: 252px;
}
.timeline .row .timepoint .linewrapper .line .vertical {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  border-right: 1px dashed #ad7008;
}
.timeline .row .timepoint .linewrapper .line .dot {
  background-color: #fef9f1;
  width: 30px;
  height: 30px;
  margin: 2px auto;
  border-radius: 15px;
  border: 1px solid #ad7008;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: .2s;
}
.timeline .row .timepoint .timewrapper {
  width: 30%;
  padding: 15px;
  padding-left: 0px;
}
.timeline .row .timepoint .timewrapper .time {
  background-color: #3f2a0c;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  padding-top: 13px;
  font-size: 1.2rem;
  color: #fef9f1;
  position: relative;
}
.timeline .row .timepoint .timewrapper .time span {
  display: none;
}
.timeline .row .timepoint .timewrapper .time:before {
  position: absolute;
  content: "";
  left: 14px;
  width: 50%;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 6px 12px rgba(0, 0, 0, 0.7);
  transform: rotate(-5deg);
  z-index: -1;
}
.timeline .row .timepoint .timewrapper .time:after {
  position: absolute;
  content: "";
  right: 14px;
  width: 50%;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 6px 12px rgba(0, 0, 0, 0.7);
  transform: rotate(5deg);
  z-index: -1;
}
.timeline .row .timepoint:first-of-type .linewrapper .line {
  height: 126px;
  margin-top: 126px;
}
.timeline .row .timepoint:first-of-type .linewrapper .line .dot {
  margin-top: -120px;
}
.timeline .row .timepoint:last-of-type .linewrapper .line {
  height: 126px;
  margin-bottom: 126px;
}
.timeline .row .timepoint:last-of-type .linewrapper .dot {
  margin-top: 126px;
}
.beispiele .row {
  display: flex;
  flex-direction: column;
}
.beispiele .row:nth-child(2) {
  padding-top: 35px;
}
.beispiele .row:last-of-type {
  padding-bottom: 35px;
}
.beispiele .row .img {
  width: 100%;
  padding: 45px 75px;
  overflow: hidden;
}
.beispiele .row .img p {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #fef9f1;
  height: 0px;
  opacity: 1;
}
.beispiele .row .img p.hide {
  height: 0px;
  opacity: 0;
}
.beispiele .row .img img {
  width: 100%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.beispiele .row .img img.hide {
  margin-top: 250%;
  margin-bottom: -250%;
}
.beispiele .row .text {
  width: 100%;
  padding: 45px 25px;
  text-align: center;
}
.beispiele .row .text .tech {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  justify-content: center;
}
.beispiele .row .text .tech .tech-icon {
  height: 100%;
  padding-right: 25px;
  flex-grow: 0;
}
.beispiele .row .text .tech .tech-icon img {
  height: 100%;
}
.beispiele .row .text h3 {
  color: #ffd635;
  margin-bottom: 15px;
  font-size: 2rem;
}
.beispiele .row .text p {
  color: #fef9f1;
  margin-bottom: 15px;
}
.beispiele .row:nth-of-type(even) {
  background-color: #fef9f1;
}
.beispiele .row:nth-of-type(even) .img {
  padding-bottom: 15px;
}
.beispiele .row:nth-of-type(even) .img p {
  color: #020100;
}
.beispiele .row:nth-of-type(even) .text {
  padding-top: 15px;
}
.beispiele .row:nth-of-type(even) .text p {
  color: #020100;
}
.beispiele .row:nth-of-type(odd) {
  background-color: #3f2a0c;
}
.beispiele .row:nth-of-type(odd) .img {
  padding-top: 15px;
}
.beispiele .row:nth-of-type(odd) .text {
  padding-bottom: 15px;
}
.beispiele .row:nth-of-type(odd) .text .box a,
.beispiele .row:nth-of-type(odd) .text .box a:link,
.beispiele .row:nth-of-type(odd) .text .box a:visited {
  color: #fef9f1;
  border-color: #fef9f1;
}
.beispiele .row:nth-of-type(odd) .text .box a:hover,
.beispiele .row:nth-of-type(odd) .text .box a:focus {
  border-color: #ffd635;
}
/* ----------------------Tablets ----------------*/
@media all and (min-width: 540px) {
  /*---MENU---*/
  nav ul {
    position: fixed;
    height: 100%;
    width: 50%;
    left: 100%;
  }
  nav.open ul {
    width: 50%;
    left: 50%;
  }
  #wrapper nav ul {
    flex-direction: row;
  }
  #wrapper nav ul li {
    text-align: center;
  }
  /*---BIGPICTURE---*/
  .bigpicture {
    height: 750px;
  }
  .bigpicture .onpicture {
    background-attachment: fixed;
  }
  .bigpicture .onpicture .information {
    position: fixed;
    top: 40%;
    left: 5%;
    width: 100%;
    z-index: -1;
  }
  .bigpicture .onpicture .information .row .title {
    font-size: 2rem;
  }
  .bigpicture .onpicture .information .row .text {
    line-height: 2rem;
  }
  /*---SPLIT---*/
  .split .section {
    padding: 0px 75px;
  }
  /*---PREFERENCES---*/
  .preferences .row {
    max-width: 600px;
  }
  .preferences .row .box {
    padding: 25px 35px;
    width: 25%;
  }
  .preferences .row .box:nth-of-type(2),
  .preferences .row .box:nth-of-type(6) {
    border-right: 1px dashed #FFD635;
  }
  .preferences .row .box:nth-of-type(5),
  .preferences .row .box:nth-of-type(6) {
    border-bottom: none;
  }
  /*---TIMELINE---*/
  .timeline .row .timepoint .boxwrapper {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .timeline .row .timepoint .boxwrapper .box {
    width: 150px;
    min-width: 150px;
    height: 150px;
    border-radius: 75px;
    padding: 0;
    padding-top: 60px;
    cursor: pointer;
    transition: .2s;
    margin-left: 9.3%;
  }
  .timeline .row .timepoint .boxwrapper .box i {
    opacity: 0;
  }
  .timeline .row .timepoint .boxwrapper .box p {
    opacity: 0;
  }
  .timeline .row .timepoint .boxwrapper .box:after {
    display: none;
  }
  .timeline .row .timepoint .boxwrapper .box:before {
    transition: .2s;
    left: 65%;
    width: 30px;
    transform: rotate(0deg) skew(-27deg);
    height: 30px;
    top: 60%;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 27px rgba(0, 0, 0, 0.5);
  }
  .timeline .row .timepoint .linewrapper {
    width: 15%;
  }
  .timeline .row .timepoint .linewrapper .line {
    transition: .2s;
    height: 182px;
  }
  .timeline .row .timepoint .linewrapper .line .dot {
    transition: .2s;
  }
  .timeline .row .timepoint .timewrapper {
    width: 35%;
    display: flex;
    justify-content: center;
  }
  .timeline .row .timepoint .timewrapper .time span {
    display: block;
    color: #d89520;
  }
  .timeline .row .timepoint .timewrapper .time::after {
    left: 16px;
    width: 80%;
    top: 70%;
    height: 20px;
    transform: rotate(4deg);
    transition: .2s;
    opacity: .5;
  }
  .timeline .row .timepoint .timewrapper .time::before {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 15px 5px 3px rgba(0, 0, 0, 0);
    transform: rotate(0deg);
    z-index: 1;
    width: 0px;
    height: 0px;
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #3f2a0c transparent transparent;
    position: absolute;
    left: -15px;
    top: 35%;
  }
  .timeline .row .timepoint:hover .boxwrapper .box {
    padding: 25px;
    border-radius: 150px;
    width: 200px;
    min-width: 200px;
    height: 200px;
    transition: .2s;
    margin-right: -9.3%;
    margin-left: 0%;
  }
  .timeline .row .timepoint:hover .boxwrapper .box i {
    opacity: 1;
    transition: .5s .2s;
  }
  .timeline .row .timepoint:hover .boxwrapper .box p {
    opacity: 1;
    transition: .5s .2s;
  }
  .timeline .row .timepoint:hover .boxwrapper .box + .line .dot {
    border-width: 3px;
  }
  .timeline .row .timepoint:hover .boxwrapper .box:before {
    left: 48%;
    top: 38%;
    box-shadow: 0px 0px 2px 46px rgba(0, 0, 0, 0.7);
    transform: skew(0deg) scale(1.5);
  }
  .timeline .row .timepoint:hover .linewrapper .line {
    height: 252px;
  }
  .timeline .row .timepoint:hover .linewrapper .line .dot {
    border-width: 5px;
  }
  .timeline .row .timepoint:hover .timewrapper .time::after {
    width: 84%;
    top: 67%;
    opacity: 1;
    transform: rotate(2deg);
  }
  .timeline .row .timepoint:hover:first-of-type .linewrapper .line {
    height: 120px;
  }
  .timeline .row .timepoint:hover:last-of-type .linewrapper .line {
    height: 120px;
  }
  .timeline .row .timepoint:first-of-type .linewrapper .line {
    height: 60px;
  }
  .timeline .row .timepoint:last-of-type .linewrapper .line {
    height: 60px;
  }
  .beispiele .row .text {
    padding: 45px 75px;
  }
}
/* ------------------ Small Desktops ----------- */
@media only screen and (min-width: 768px) {
  /*---MENU---*/
  nav {
    position: relative;
  }
  nav .nav-icon {
    display: none;
  }
  nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    left: 0%;
    opacity: 1;
    padding: 10px 0px;
  }
  nav ul li {
    border: none;
    border-right: 1px dashed #d89520;
    padding: 0px;
    flex-grow: 1;
    text-align: center;
  }
  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited {
    font-size: 1rem;
    font-weight: normal;
  }
  nav ul li:last-child {
    border: none;
  }
  nav.open ul {
    height: auto;
    width: 100%;
    left: 0%;
    opacity: 1;
    padding: 10px 0px;
  }
  /*---BIGPICTURE---*/
  .bigpicture .onpicture .information {
    top: 20%;
  }
  /*---HERO---*/
  .hero .content {
    padding: 250px 15% 50px 15%;
  }
  /*---SPLIT---*/
  .split {
    flex-direction: row;
    padding-bottom: 0px;
  }
  .split .section {
    width: 33.33%;
    padding: 0px 2%;
    cursor: pointer;
    overflow: hidden;
  }
  .split .section .icon {
    margin: 60px 0px 40px 0px;
    font-size: 5rem;
  }
  .split .section .head {
    height: 50px;
    font-size: 1.5rem;
    margin: 40px 0px 60px 0px;
  }
  .split .section .content {
    opacity: 0;
    height: 0px;
    margin: 0px;
  }
  .split .section:hover .icon {
    margin: 0px 0px 20px 0px;
  }
  .split .section:hover .head {
    margin: 20px 0px 30px 0px;
  }
  .split .section:hover .content {
    opacity: 1;
  }
  .beispiele .row {
    flex-direction: row;
  }
  .beispiele .row .img {
    width: 50%;
  }
  .beispiele .row .text {
    width: 50%;
    text-align: left;
  }
  .beispiele .row .text .tech {
    justify-content: flex-start;
  }
  .beispiele .row:nth-child(n) {
    padding: 50px 0px;
  }
  .beispiele .row:nth-child(odd) .text {
    padding-left: 75px;
    padding-top: 25px;
  }
  .beispiele .row:nth-child(even) .text {
    padding-right: 75px;
    padding-top: 45px;
  }
}
/* ------------ Landscape Tablets ----------- */
@media only screen and (min-width: 1024px) {
  /*---MENU---*/
  nav ul {
    justify-content: center;
  }
  nav ul li {
    width: 250px;
    flex-grow: 0;
  }
}
/* ------------- Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /*---HERO---*/
  .hero .content {
    padding: 350px 15% 50px 15%;
  }
  /*---BIGPICTURE---*/
  .bigpicture .onpicture .information {
    top: 45%;
    left: 15%;
  }
  /*---SPLIT---*/
  .split {
    padding: 0px 10%;
  }
  .split .section {
    width: 33.33%;
    padding: 0px 2%;
  }
  .preferences .row {
    max-width: 1200px;
  }
  .preferences .row .box {
    width: 12.5%;
    padding: 25px 50px;
    border-bottom: none;
  }
  .preferences .row .box:nth-of-type(4) {
    border-right: 1px dashed #FFD635;
  }
  .beispiele .row:nth-child(n) .text {
    padding-top: 65px;
  }
}
