/* LESS-File*/
.bg {
  background-image: url("../img/blur.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-width: 1000px;
}
body {
  position: relative;
  font-family: "AlegreyaS", "Calibri", "sans-serif";
  color: #1e1402;
  background-image: url("../img/blur.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-width: 1000px;
}
.color1 {
  background-color: #ffb535;
}
.color2 {
  background-color: #d89520;
}
.color3 {
  background-color: #ad7008;
}
.color4 {
  background-color: #3f2a0c;
}
.color5 {
  background-color: #33220a;
}
.color6 {
  background-color: #1e1402;
}
.color7 {
  background-color: #020100;
}
.colorgrey {
  background-color: #fef9f1;
}
/*FONTS*/
.crimson {
  font-family: "Crimson";
}
.alegreya {
  font-family: "Alegreya";
}
.alegreyas {
  font-family: "AlegreyaS";
}
.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-color: #d3d3d3;
  background: -moz-radial-gradient(center, ellipse cover, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  background: radial-gradient(ellipse at center, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#eb686868', GradientType=1);
  z-index: -1;
}
.prevrow {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 500px;
  margin: 20px auto;
}
.prevboxes {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.prevboxes:first-of-type {
  width: 30%;
}
.prevboxes .prevbox {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 23px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  color: #fef9f1;
}
.prevboxes .prevbox.colorgrey {
  color: #33220a;
}
/*STYLEGUIDE*/
h1 {
  color: #ffb535;
  font-family: "Crimson";
  font-size: 4.5rem;
}
h2 {
  color: #d89520;
  font-family: "Crimson";
  font-size: 3.25rem;
}
h3 {
  color: #ad7008;
  font-family: "Crimson";
  font-size: 2.5rem;
}
h4 {
  color: #3f2a0c;
  font-family: "Crimson";
  font-size: 2rem;
}
h5 {
  color: #33220a;
  font-family: "Crimson";
  font-size: 1.6rem;
}
h6 {
  color: #1e1402;
  font-family: "Crimson";
  font-size: 1.4rem;
}
p {
  color: #1e1402;
  font-family: "AlegreyaS";
}
b {
  color: #1e1402;
  font-weight: bold;
  font-family: "AlegreyaS";
}
b.light {
  color: #FFFFFF;
}
.light {
  color: #fef9f1;
}
a,
a:link,
a:visited {
  color: #ffb535;
  text-decoration: underline;
  text-decoration-style: dashed;
  font-family: "AlegreyaS";
  font-weight: bold;
  transition: color .1s;
}
a:hover,
a:active {
  color: #33220a;
}
a.box,
a.box:link,
a.box:visited {
  color: #1e1402;
  letter-spacing: .05rem;
  font-weight: normal;
  padding: 15px;
  border: 1px solid #1e1402;
  text-decoration: none;
  width: 200px;
  margin: 15px 0px;
  text-align: center;
  transition: border .1s, color .1s, padding .1s;
}
a.box.boxlight,
a.box.boxlight:link,
a.box.boxlight:visited {
  color: #fef9f1;
  border: 1px solid #fef9f1;
}
a.box:hover,
a.box.boxlight:hover {
  border: 1px solid #ffb535;
}
a.box:active,
a.box.boxlight:active {
  border: 6px solid #ffb535;
  padding: 10px;
}
ul {
  padding: 15px;
}
ul li {
  padding: 5px 0px;
}
ul.menu {
  background-color: rgba(30, 20, 2, 0.8);
  width: 100%;
  display: block;
  list-style: none;
}
ul.menu li {
  text-align: right;
  line-height: 2rem;
  padding: 0px;
}
ul.menu li a {
  display: block;
  text-decoration: none;
  color: #fef9f1;
  font-weight: normal;
  letter-spacing: .05rem;
  padding: 5px 0px;
}
ul.menu li a:hover {
  color: #ffb535;
}
