<div class="beispiele">
	<div class="heading" id="arbeitsproben">
		<h2>Arbeitsproben</h2>
	</div>
	<div class="row" ng-repeat="bsp in arbeitsproben">
		<div class="img" ng-if="$even">	
		<p ng-class="{'hide':showBsp==true}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. <br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><a href="">mehr Bilder</a></p>
			<img src="{{bsp.img}}" ng-class="{'hide':showBsp==false}">
		</div>
		<div class="text">
			<h3>{{bsp.title}}</h3>
			<p>{{bsp.description}}</p>
			<div class="tech">
				<div class="tech-icon" ng-repeat="icon in bsp.tech">
					<img src="{{icon}}">
				</div>
			</div>
			<div class="box" ng-click="showBsp=!showBsp">
				<a href="#" ng-if="showBsp==true">mehr erfahren</a>
				<a href="#" ng-if="showBsp==false">weniger anzeigen</a>
			</div>
		</div>
		<div class="img" ng-if="$odd">	
		<p ng-class="{'hide':showBsp==true}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. <br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><a href="">mehr Bilder</a></p>
			<img src="{{bsp.img}}" ng-class="{'hide':showBsp==false}">
		
		</div>
	</div>
</div>