<div class="bigpicture" id="ueber_mich">
	<div class="onpicture">
		<div class="information">
			<div class="row" ng-repeat="ich in about">
				<h1 class="title" ng-bind-html="ich.title"></h1>
				<p class="text" ng-bind-html="ich.text"></p>
			</div>
		</div>
	</div>
</div>