<!--hero-module-->
<div class="hero" style="background-image: url('img/blur@2.jpg'); background-size: cover;">
	<!--<img src="{{module.information.image.url}}" class="hero-img">-->
	<div class="content">
		<h1 class="head">Daniel Durak<!--{{module.information.title}}--></h1>
		<p class="subhead light">Darf ich mich Ihnen vorstellen?</p>
		<div class="box boxlight"><a href="#schulische_ereignisse" du-smooth-scroll>Mehr erfahren</a></div>
		<p class="light"></p>
	</div>
</div>
