<div class="nav-icon" ng-click="menuclose()">
	<div id="burger">
	  	<span></span>
	  	<span></span>
	  	<span></span>
		<span></span>
	</div>
</div>
<ul>
	<li ng-repeat="item in menu">
		<a ng-click="menuclose()" href="#{{item.id}}" du-smooth-scroll>{{item.title}}</a>
	</li>
</ul>
