<div class="preferences">
	<div class="heading" id="passionen">
		<h2>Passionen</h2>
	</div>
	<div class="row">
		<div class="box" ng-repeat="img in preferences">
			<div class="img-wrapper">
				<img src="{{img.src}}" alt="{{img}} Logo" title="{{img.title}}">
			</div>
		</div>
	</div>
</div>