﻿<!--thrice-module-->
<div class="heading" id="schulische_ereignisse">
	<h2>Schulische Ereignisse</h2>
</div>
<div class="split">
    <!--<div class="thrice-section col-lg-2 col-md-4 col-sm-4 col-xs-12" ng-repeat="section in module.information.sections" ng-class="{'col-lg-offset-3':$index==0, 'thrice-section-hovering':section.icon!=''&&section.head!=''}">
        <i class="thrice-section-icon fa" ng-if="section.icon!=''" ng-class="section.icon"></i>
        <h3 class="thrice-section-head" ng-bind-html="section.head" ng-if="section.head!=''"></h3>
        <p class="thrice-section-content">{{section.content}}</p>
    </div>-->


    <div class="section">
        <i class="fa fa-leanpub icon light"></i>
        <h3 class="head">Allgemeine Hochschulreife</h3>
        <p class="content light">von September 2009 bis August 2012 an der Gottlieb-Daimler-Schule 1 in Sindelfingen</p>
    </div>

    <div class="section">
        <i class="fa fa-graduation-cap icon light"></i>
        <h3 class="head">Staatlich geprüfter Informatiker</h3>
        <p class="content light">von September 2013 bis August 2016 an der Akademie für Datenverarbeitung in Böblingen (Gottlieb-Daimler-Schule 2 Berufskolleg für Informatik)</p>
    </div>

    <div class="section">
        <i class="fa fa-black-tie icon light"></i>
        <h3 class="head">Einjähriges Praktikum</h3>
        <p class="content light">von August 2014 bis September 2015 bei der Synergetic Agency AG in Leinfelden-Echterdingen im Rahmen der ADV</p>
    </div>


</div>