<div class="timeline">
	<div class="heading" id="werdegang">
		<h2>Werdegang</h2>
	</div>
	<div class="row">
		<div class="timepoint" ng-repeat="tp in timeline">	
			<div class="boxwrapper">
				<div class="box">
					<h2>{{tp.title}}</h2>
					<i class="fa fa-{{tp.icon}} icon light"></i>
					<p>{{tp.text}}</p>
				</div>
			</div>
			<div class="linewrapper">
				<div class="line">
					<div class="vertical"></div>
					<div class="dot"></div>
				</div>
			</div>
			<div class="timewrapper">
				<div class="time" ng-bind-html="tp.date"></div>
			</div>
		</div>
	</div>
</div>