.bg{
	/*background-image: url("../img/blur.jpg");
	background-attachment: fixed;
                    background-size:cover;
                    min-width:1000px;*/
     background-color: #191604;
};

@color1: #FFD635;
@color2: #D89520;
@color3: #AD7008;
@color4: #3F2A0C;
@color5: #33220A;
@color6: #1E1402;
@color7: #020100;
@colorgrey: #FEF9F1;

@font-serif: "Cinzel";
@font-sans: "AlegreyaS";

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 16px;
}

body{
	position:relative;
	font-family: @font-sans, "Calibri", "sans-serif";
	color: @color6;
	.bg();
}

.heading{
	padding: 15px 25px;
	background-color: @color1;
	h2{
		font-family: @font-sans;
		font-size: 2.2rem;
		color: @colorgrey;
	}
}



@import "styleguide.less";
@import "pages.less";
@import "modules/nav.less";
@import "modules/hero.less";
@import "modules/split.less";
@import "modules/bigpicture.less";
@import "modules/preferences.less";
@import "modules/timeline.less";
@import "modules/beispiele.less";
@import "queries.less";