/*---PAGES---*/
#wrapper{
	color:#fff;
	nav{
		width:100%;
		ul{
			display:flex;
			flex-direction:column;
			padding:0px;
			li{
				flex-grow:1;
				text-align:left;
				cursor:pointer;
				list-style-type: none;
				padding:15px;
				&:hover, &.active{
					background-color:#333;
				}
			}
		}
	}
	div.sections{
		overflow:hidden;
		display: flex;
		flex-wrap:nowrap;
		-webkit-perspective: 1200px; 
		perspective: 1200px;
		section{
			width:100%;
			padding:25px;
			flex-shrink:0;
			background-color:#fff;
			color:#111;
			-webkit-transition: margin 1s, opacity .8s .2s, transform 1s;
			-moz-transition: margin 1s, opacity .8s .2s, transform 1s;
			transition: margin 1s, opacity .8s .2s, transform 1s;
			&.active{
				&.linear{
					z-index: 1;
				}
				&.cubic{
					z-index: 1;
					margin:0;
				}
				&.cubic-out{
					z-index: 1;
					margin:0;
				}
				&.stack{
					z-index: 1;
				}
			}
			&.inactive-left{
				&.linear{
					opacity:1;
					z-index: 0;
					margin-left: -100%;
				}
				&.cubic{
					opacity:0;
					z-index: 0;
					transform:scale(1.3) rotateY(70deg);
					margin-left: -100%;
				}
				&.cubic-out{
					opacity:0;
					z-index: 0;
					transform:scale(.6) rotateY(-50deg);
					margin-left: -100%;
				}
				&.stack{
					opacity:0;
					z-index: -1;
					transform:scale(.2);
					margin-right: -100%;
				}
			}
			&.inactive-right{
				&.linear{
					opacity:1;
					z-index: 2;
					margin-right: -100%;
				}
				&.cubic{
					opacity:0;
					z-index: 0;
					transform:scale(1.3) rotateY(-70deg);
					margin-right: -100%;
				}
				&.cubic-out{
					opacity:0;
					z-index: 0;
					transform:scale(.6) rotateY(50deg);
					margin-right: -100%;
				}
				&.stack{
					opacity:1;
					z-index: 2;
					transform:scale(1);
				}
			}
			div.content{
				position:relative;
				.video{
					width:100%;
					.videowrapper{
						max-width:500px;
						margin:0 auto;
						video{
							width:100%;
						}
					}
				}
				.module-preview{
					width:80%;
					max-width: 750px;
					margin:25px auto;
					.module-previewwrapper{
						img{
							width:100%;
						}
					}
				}
			}
		}
	}
}