/* ----------------------Tablets ----------------*/

@media all and (min-width:540px){
	/*---MENU---*/
	nav{
		.nav-icon{
			#burger{
				span{
					&:nth-child(1) {
					}
					&:nth-child(2), &:nth-child(3) {
					}
					&:nth-child(4) {
					}
				}
			}
		}
		ul{
			position:fixed;
			height:100%;
			width:50%;
			left:100%;
			li{
				a, a:link, a:visited{
				}
				a:hover{
				}
				&:last-child{
				}
			}
		}
		&.open{
			.nav-icon{
				#burger{
					span{
						&:nth-child(1) {
						}
						&:nth-child(2) {
						}
						&:nth-child(3) {
						}
						&:nth-child(4) {
						}
					}
				}
			}
			ul{
				width:50%;
				left:50%;
			}
		}
	}
	#wrapper{
		nav{
			ul{
				flex-direction:row;
				li{
					text-align:center;
					&:hover{
					}
				}
			}
		}
	}
	/*---BIGPICTURE---*/
	.bigpicture{
		height:750px;
		.onpicture{
			background-attachment: fixed;
			.information{
				position:fixed;
				top:40%;
				left: 5%;
				width:100%;
				z-index:-1;
				.row{
					.title{
						font-size: 2rem;
					}
					.text{
						line-height: 2rem;
					}
				}
			}
		}
	}
	/*---SPLIT---*/
	.split{
	    .section{
	    	padding: 0px 75px;
	    }
	}
	/*---PREFERENCES---*/
	.preferences{
		.row{
			max-width: 600px;
			.box{
				padding:25px 35px;
				width:25%;
				&:nth-of-type(2), &:nth-of-type(6){
					border-right: 1px dashed #FFD635;
				}
				&:nth-of-type(5), &:nth-of-type(6){
					border-bottom: none;
				}
				.img-wrapper{
					img{
					}
				}
			}
		}
	}
	/*---TIMELINE---*/
	.timeline{
		.row{
			.timepoint{
				.boxwrapper{
					width: 50%;
					display: flex;
					justify-content: center;
					.box{
						width:150px;
						min-width:150px;
						height:150px;
						border-radius: 75px;
						padding:0;
						padding-top:60px;
						cursor:pointer;
						transition: .2s;
						margin-left: 9.3%;
						h2{
						}
						i{
							opacity: 0;
						}
						p{
							opacity: 0;
						}
						&:after{
							display:none;
						}
						&:before{
							transition: .2s;
							left: 65%;
							width: 30px;
							transform: rotate(0deg) skew(-27deg);
							height: 30px;
							top: 60%;
							border-radius: 30px;
							box-shadow: 0px 0px 8px 27px rgba(0,0,0,0.5);
						}
					}
				}
				.linewrapper{
					width:15%;
					.line{
						transition: .2s;
						height:182px;
						.vertical{
						}
						.dot{
							transition: .2s;
						}
					}
				}
				.timewrapper{
					width:35%;
					display: flex;
					justify-content: center;
					.time{
						span{
							display: block;
							color:@color2;
						}
						&::after{
							left: 16px;
							width:80%;
							top:70%;
							height:20px;
							transform: rotate(4deg);
							transition: .2s;
							opacity:.5;
						}
						&::before{
							background: rgba(0, 0, 0, 0); 
							box-shadow: 0 15px 5px 3px rgba(0, 0, 0, 0);
							transform: rotate(0deg);
							z-index:1;
							width:0px;
							height:0px;
							content:"\A";
							border-style: solid;
							border-width: 10px 15px 10px 0;
							border-color: transparent @color4 transparent transparent;
							position: absolute;
							left: -15px;
							top: 35%;
						}
					}
				}		
				&:hover{
					.boxwrapper{
						.box{
							padding: 25px;
							border-radius: 150px;
							width: 200px;
							min-width: 200px;
							height: 200px;
							transition: .2s;
							margin-right: -9.3%;
							margin-left: 0%;
							i{
								opacity: 1;
								transition: .5s .2s;
							}
							p{
								opacity: 1;
								transition: .5s .2s;
							}
							&+.line .dot{
								border-width: 3px;
							}
							&:before{
								left: 48%;
								top: 38%;
								box-shadow: 0px 0px 2px 46px rgba(0, 0, 0, 0.7);
								transform: skew(0deg) scale(1.5);
							}
						}
					}
					.linewrapper{
						.line{
							height:252px;
							.vertical{
							}
							.dot{
								border-width: 5px;
							}
						}
					}
					.timewrapper{
						.time{
							&::after{
								width:84%;
								top:67%;
								opacity: 1;
								transform: rotate(2deg);
							}
							&::before{
							}
						}
					}		
					&:first-of-type{
						.linewrapper{
							.line{
								height:120px;
								.dot{
								}
							}
						}
					}	
					&:last-of-type{
						.linewrapper{
							.line{
								height:120px;
								.dot{
								}
							}
						}
					}
				}
				&:first-of-type{
					.linewrapper{
						.line{
							height:60px;
							.dot{
							}
						}
					}
				}
				&:last-of-type{
					.linewrapper{
						.line{
							height:60px;
						}
						.dot{
						}
					}
				}
			}
		}
	}
	.beispiele{
		.row{
			.text{
				padding: 45px 75px;
			}
		}
	}
}

/* ------------------ Small Desktops ----------- */
@media only screen 
and (min-width : 768px)  {
	/*---MENU---*/
	nav{
			position:relative;
		.nav-icon{
			display: none;
		}
		ul{
			position:relative;
			display: flex;
			flex-direction: row;
			height: auto;
			width: 100%;
			left: 0%;
			opacity: 1;
			padding:10px 0px;
			li{
				border:none;
				border-right: 1px dashed @color2;
				padding: 0px;
				flex-grow:1;
				text-align:center;
				a, a:link, a:visited{    
					font-size: 1rem;
					font-weight: normal;
				}
				&:last-child{
					border:none;
				}
			}
		}
		&.open{
			ul{
				height: auto;
				width: 100%;
				left: 0%;
				opacity: 1;
				padding:10px 0px;
			}
		}
	}
	/*---BIGPICTURE---*/
	.bigpicture{
		.onpicture{
			.information{
				top:20%;
				.row{
					.title{
					}
					.text{
					}
				}
			}
		}
	}
	/*---HERO---*/
	.hero{
		.hero-img{
		}
		.content{
			padding:250px 15% 50px 15%;
		   .head{
		    }
		    .subhead{
		    }
		    .box{
		    }
		}
	}
	.hero-img{
	}
	/*---SPLIT---*/
	.split{
		flex-direction:row;
		padding-bottom: 0px;
	    .section{
	    	width:33.33%;
	    	padding: 0px 2%;
	    	cursor: pointer;
	    	overflow: hidden;
	        .icon{
				margin: 60px 0px 40px 0px;
	        	font-size: 5rem;
	        }
	        .head{
	        	height:50px;
	        	font-size: 1.5rem;
				margin: 40px 0px 60px 0px;
	        }
	        .content{
				opacity: 0;
				height:0px;
				margin:0px;
	        }
	        &:hover{
		        .icon{
					margin: 0px 0px 20px 0px;
		        }
		        .head{
					margin: 20px 0px 30px 0px;
		        }
		        .content{
					opacity: 1;
		        }
	        }
	    }
	}
	.beispiele{
		.row{
			flex-direction: row;
			.img{
				width:50%;
				img{
				}
			}
			.text{
				width:50%;
				text-align:left;
				.tech{
					justify-content: flex-start;
				}
			}
			&:nth-child(n){
				padding:50px 0px;
			}
			&:nth-child(odd){
				.text{
					padding-left:75px;
					padding-top: 25px;
				}
			}
			&:nth-child(even){
				.text{
					padding-right:75px;
					padding-top: 45px;
				}
			}
		}
	}
}


/* ------------ Landscape Tablets ----------- */
@media only screen 
and (min-width : 1024px) {
	/*---MENU---*/
	nav{
		ul{
			justify-content:center;
			li{
				width:250px;
				flex-grow: 0;
			}
		}
		&.open{
			ul{
			}
		}
	}
}

/* ------------- Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	/*---HERO---*/
	.hero{
		.hero-img{
		}
		.content{
			padding:350px 15% 50px 15%;
		   .head{
		    }
		    .subhead{
		    }
		    .box{
		    }
		}
	}
	.hero-img{
	}
	/*---BIGPICTURE---*/
	.bigpicture{
		.onpicture{
			.information{
				top:45%;
				left:15%;
				.row{
					.title{
					}
					.text{
					}
				}
			}
		}
	}
	/*---SPLIT---*/
	.split{
		padding:0px 10%;
	    .section{
	    	width:33.33%;
	    	padding: 0px 2%;
	        .icon{
	        }
	        .head{
	        }
	        .content{
	        }
	        &:hover{
		        .icon{
		        }
		        .head{
		        }
		        .content{
		        }
	        }
	    }
	}
	.preferences{
		.row{
			max-width: 1200px;
			.box{
				width:12.5%;
				padding:25px 50px;
				border-bottom: none;
				&:nth-of-type(4){
					border-right: 1px dashed #FFD635;
				}
				.img-wrapper{
					img{
					}
				}
			}
		}
	}
	.beispiele{
		.row{
			&:nth-child(n){
				.text{
					padding-top: 65px;
				}
			}
		}
	}
}	