/*---STYLEGUIDE*/

.color1{
	background-color:@color1;
}
.color2{
	background-color:@color2;
}
.color3{
	background-color:@color3;
}
.color4{
	background-color:@color4;
}
.color5{
	background-color:@color5;
}
.color6{
	background-color:@color6;
}
.color7{
	background-color:@color7;
}
.colorgrey{
	background-color:@colorgrey;
}

/*FONTS*/
.crimson {
	font-family: @font-serif;
}
.alegreya {
	font-family: "Alegreya";
}
.alegreyas {
	font-family: @font-sans;
}



.layer{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity: .2;
	
	background-color: rgba(211, 211, 211,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(211,211,211,1) 0%, rgba(104,104,104,0.92) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(211,211,211,1) 0%,rgba(104,104,104,0.92) 100%);
	background: radial-gradient(ellipse at center, rgba(211,211,211,1) 0%,rgba(104,104,104,0.92) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#eb686868',GradientType=1 );
	
	z-index:-1;
}
.prevrow{
	display:flex;
	flex-direction:row;
	width:80%;
	min-width:500px;
	margin:20px auto;
}
.prevboxes{
	display:flex;
	flex-direction:column;
	width:70%;
	&:first-of-type{
		width: 30%;
	}
}

.prevboxes .prevbox{
	width:100px;
	height:100px;
	border-radius:50px;
	padding-top:23px;
	text-align: center;
	font-size: 1.2rem;
	margin:10px;
	color: @colorgrey;
}
.prevboxes .prevbox.colorgrey{
	color:@color5;
}





/*STYLEGUIDE*/
h1{
	color:@color1;
	font-family: @font-serif;
	font-size: 4.5rem;
}
h2{
	color:@color2;
	font-family: @font-serif;
	font-size: 3.25rem;
}
h3{
	color:@color3;
	font-family: @font-serif;
	font-size: 2.5rem;
}
h4{
	color:@color4;
	font-family: @font-serif;
	font-size: 2rem;
}
h5{
	color:@color5;
	font-family: @font-serif;
	font-size: 1.6rem;
}
h6{
	color:@color6;
	font-family: @font-serif;
	font-size: 1.4rem;
}
p{
	color:@color6;
	font-family: @font-sans;
}
b{
	color:@color6;
	font-weight: bold;
	font-family: @font-sans;
	&.light{
		color:#FFFFFF;
	}
}
	.light{
		color:@colorgrey;
	}
a,a:link,a:visited{
	color:@color1;
	text-decoration: underline;
	text-decoration-style:dashed;
	font-family: @font-sans;
	font-weight: bold;
	transition: color .1s;
}
a:hover,a:active{
	color:@color2;
}
.box a, .box a:link, .box a:visited{
	color:@color6;
	letter-spacing: .05rem;
	line-height: 5rem;
	font-weight: normal;
	padding:15px;
	border:1px solid @color6;
	text-decoration: none;
	width:200px;
	margin:50px 0px 0px 0px;
	text-align:center;
	transition: border .1s, color .1s, padding .1s;
}
.box.boxlight a, .box.boxlight a:link, .box.boxlight a:visited{
	color:@colorgrey;
	border:1px solid @colorgrey;
}
.box a:hover, .box.boxlight a:hover{
	border:1px solid @color1;
}
.box a:active, .box.boxlight a:active{
	border: 6px solid @color1;
	padding:10px;
}

ul{
	padding:15px;
	li{
		padding:5px 0px;
	}
	&.menu{
		background-color: fade(@color6,80%);
		width: 100%;
		display: block;
		list-style: none;
		li{
			text-align: right;
			line-height: 2rem;
			padding: 0px;
			a{
				display: block;
				text-decoration: none;
				color: @colorgrey;
				font-weight: normal;
				letter-spacing: .05rem;
				padding: 5px 0px;
				&:hover{
					color: @color1;
				}
			}
		}
	}
}