.beispiele .row {
  display: flex;
  flex-direction: row;
}
.beispiele .row .left {
  width: 50%;
  padding: 50px;
}
.beispiele .row .left img {
  width: 100%;
}
.beispiele .row .right {
  width: 50%;
}
