.bigpicture {
  height: 550px;
  position: relative;
  background: #232323;
  background: -moz-radial-gradient(center, ellipse cover, #232323 0%, #0c0c0c 41%, #000000 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #232323 0%, #0c0c0c 41%, #000000 100%);
  background: radial-gradient(ellipse at center, #232323 0%, #0c0c0c 41%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232323', endColorstr='#000000', GradientType=1);
  background-attachment: fixed;
  z-index: -2;
}
.bigpicture .onpicture {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../img/daniel_durak1.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 80%;
  background-attachment: fixed;
}
.bigpicture .onpicture .information {
  display: flex;
  position: fixed;
  top: 30%;
  left: 5%;
  width: 50%;
}
