/*---HERO---*/
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero .hero-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow: hidden;
}
.hero .content {
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 135px 5% 50px 5%;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero .content .head {
  letter-spacing: .1rem;
}
.hero .content .subhead {
  letter-spacing: .4rem;
}
.hero .content .box {
  margin-top: 50px;
}
.hero-img {
  width: 100%;
}
