.preferences {
  background-color: #FEF9F1;
}
.preferences .row {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 25px;
  width: 100%;
  margin: 0 auto;
}
.preferences .row .box {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 50px;
  border-right: 1px dashed #FFD635;
  border-bottom: 1px dashed #FFD635;
}
.preferences .row .box:nth-of-type(2),
.preferences .row .box:nth-of-type(4),
.preferences .row .box:nth-of-type(6),
.preferences .row .box:nth-of-type(8) {
  border-right: none;
}
.preferences .row .box:nth-of-type(7),
.preferences .row .box:nth-of-type(8) {
  border-bottom: none;
}
.preferences .row .box .img-wrapper {
  width: 100%;
}
.preferences .row .box .img-wrapper img {
  width: 100%;
}
