/*---SPLIT---*/
.split {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 5% 60px 5%;
  text-align: center;
}
.split .section {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}
.split .section .icon {
  margin: 0px 0px 20px 0px;
  font-size: 6rem;
  display: block;
  transition: margin .5s;
}
.split .section .head {
  margin: 0px 0px 10px 0px;
  transition: margin .5s;
}
.split .section .content {
  margin: 10px 0px 0px 0px;
  transition: opacity .5s, height .5s;
}
