
<nav ng-include="'views/modules/nav.html'" ng-class="{'open':menuopen}"></nav>
<div ng-include="'views/modules/hero.html'"></div>
<div ng-include="'views/modules/bigpicture.html'"></div>
<div ng-include="'views/modules/split.html'"></div>
<div ng-include="'views/modules/preferences.html'"></div>
<div ng-include="'views/modules/timeline.html'"></div>
<div ng-include="'views/modules/beispiele.html'"></div>