<div class="sg">

<div class="layer"></div>

<div class="prevrow">


	<div class="prevboxes">
		<div class="prevbox color1">color1<br>#FFD635</div>
		<div class="prevbox color2">color2<br>#D89520</div>
		<div class="prevbox color3">color3<br>#AD7008</div>
		<div class="prevbox color4">color4<br>#3F2A0C</div>
		<div class="prevbox color5">color5<br>#33220A</div>
		<div class="prevbox color6">color6<br>#1E1402</div>
		<div class="prevbox color7">color7<br>#020100</div>
		<div class="prevbox colorgrey">colorgrey<br>#FEF9F1</div>
	</div>

	<div class="prevboxes">
			<h1>Überschrift 1</h1>
			<h2>Überschrift 2</h2>
			<h3>Überschrift 3</h3>
			<h4>Überschrift 4</h4>
			<h5>Überschrift 5</h5>
			<h6>Überschrift 6</h6>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. <a href="#">Dies ist ein Inline-Link</a> et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			<b>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</b>
			<p class="light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. <a href="#">Dies ist ein Inline-Link</a> et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p><b class="light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</b>
			<a href="#" class="box">Dies ist eine LinkBox</a>
			<a href="#" class="box boxlight">Dies ist eine LinkBox</a>
			<ul class="menu">
				<li><a href="">Menüpunkt1</a></li>
				<li><a href="">Zweiter Punkt</a></li>
				<li><a href="">Dritter</a></li>
			</ul>
			<ul>
				<li>Aufzählung erster Punkt</li>
				<li>Aufzählung der Zweitest Lorem ipsum dolor sit amet. Sed diam nonumy eirmod tempor</li>
				<li>Der dritte Punkt</li>
				<li>Der vierter und letzter Punkt Lorem ipsum dolor sit amet. Sed diam nonumy eirmod tempordolor sit amet.</li>
			</ul>
	</div>


</div>
</div>