.bg {
  /*background-image: url("../img/blur.jpg");
	background-attachment: fixed;
                    background-size:cover;
                    min-width:1000px;*/
  background-color: #191604;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  position: relative;
  font-family: "AlegreyaS", "Calibri", "sans-serif";
  color: #1e1402;
  /*background-image: url("../img/blur.jpg");
	background-attachment: fixed;
                    background-size:cover;
                    min-width:1000px;*/
  background-color: #191604;
}
/*---STYLEGUIDE*/
.color1 {
  background-color: #ffd635;
}
.color2 {
  background-color: #d89520;
}
.color3 {
  background-color: #ad7008;
}
.color4 {
  background-color: #3f2a0c;
}
.color5 {
  background-color: #33220a;
}
.color6 {
  background-color: #1e1402;
}
.color7 {
  background-color: #020100;
}
.colorgrey {
  background-color: #fef9f1;
}
/*FONTS*/
.crimson {
  font-family: "Crimson";
}
.alegreya {
  font-family: "Alegreya";
}
.alegreyas {
  font-family: "AlegreyaS";
}
.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-color: #d3d3d3;
  background: -moz-radial-gradient(center, ellipse cover, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  background: radial-gradient(ellipse at center, #d3d3d3 0%, rgba(104, 104, 104, 0.92) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#eb686868', GradientType=1);
  z-index: -1;
}
.prevrow {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 500px;
  margin: 20px auto;
}
.prevboxes {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.prevboxes:first-of-type {
  width: 30%;
}
.prevboxes .prevbox {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 23px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  color: #fef9f1;
}
.prevboxes .prevbox.colorgrey {
  color: #33220a;
}
/*STYLEGUIDE*/
h1 {
  color: #ffd635;
  font-family: "Crimson";
  font-size: 4.5rem;
}
h2 {
  color: #d89520;
  font-family: "Crimson";
  font-size: 3.25rem;
}
h3 {
  color: #ad7008;
  font-family: "Crimson";
  font-size: 2.5rem;
}
h4 {
  color: #3f2a0c;
  font-family: "Crimson";
  font-size: 2rem;
}
h5 {
  color: #33220a;
  font-family: "Crimson";
  font-size: 1.6rem;
}
h6 {
  color: #1e1402;
  font-family: "Crimson";
  font-size: 1.4rem;
}
p {
  color: #1e1402;
  font-family: "AlegreyaS";
}
b {
  color: #1e1402;
  font-weight: bold;
  font-family: "AlegreyaS";
}
b.light {
  color: #FFFFFF;
}
.light {
  color: #fef9f1;
}
a,
a:link,
a:visited {
  color: #ffd635;
  text-decoration: underline;
  text-decoration-style: dashed;
  font-family: "AlegreyaS";
  font-weight: bold;
  transition: color .1s;
}
a:hover,
a:active {
  color: #33220a;
}
.box a,
.box a:link,
.box a:visited {
  color: #1e1402;
  letter-spacing: .05rem;
  line-height: 5rem;
  font-weight: normal;
  padding: 15px;
  border: 1px solid #1e1402;
  text-decoration: none;
  width: 200px;
  margin: 50px 0px 0px 0px;
  text-align: center;
  transition: border .1s, color .1s, padding .1s;
}
.box.boxlight a,
.box.boxlight a:link,
.box.boxlight a:visited {
  color: #fef9f1;
  border: 1px solid #fef9f1;
}
.box a:hover,
.box.boxlight a:hover {
  border: 1px solid #ffd635;
}
.box a:active,
.box.boxlight a:active {
  border: 6px solid #ffd635;
  padding: 10px;
}
ul {
  padding: 15px;
}
ul li {
  padding: 5px 0px;
}
ul.menu {
  background-color: rgba(30, 20, 2, 0.8);
  width: 100%;
  display: block;
  list-style: none;
}
ul.menu li {
  text-align: right;
  line-height: 2rem;
  padding: 0px;
}
ul.menu li a {
  display: block;
  text-decoration: none;
  color: #fef9f1;
  font-weight: normal;
  letter-spacing: .05rem;
  padding: 5px 0px;
}
ul.menu li a:hover {
  color: #ffd635;
}
/*---PAGES---*/
#wrapper {
  color: #fff;
}
#wrapper nav {
  width: 100%;
}
#wrapper nav ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
#wrapper nav ul li {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
  list-style-type: none;
  padding: 15px;
}
#wrapper nav ul li:hover,
#wrapper nav ul li.active {
  background-color: #333;
}
#wrapper div.sections {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
#wrapper div.sections section {
  width: 100%;
  padding: 25px;
  flex-shrink: 0;
  background-color: #fff;
  color: #111;
  -webkit-transition: margin 1s, opacity .8s .2s, transform 1s;
  -moz-transition: margin 1s, opacity .8s .2s, transform 1s;
  transition: margin 1s, opacity .8s .2s, transform 1s;
}
#wrapper div.sections section.active.linear {
  z-index: 1;
}
#wrapper div.sections section.active.cubic {
  z-index: 1;
  margin: 0;
}
#wrapper div.sections section.active.cubic-out {
  z-index: 1;
  margin: 0;
}
#wrapper div.sections section.active.stack {
  z-index: 1;
}
#wrapper div.sections section.inactive-left.linear {
  opacity: 1;
  z-index: 0;
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.cubic {
  opacity: 0;
  z-index: 0;
  transform: scale(1.3) rotateY(70deg);
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.cubic-out {
  opacity: 0;
  z-index: 0;
  transform: scale(0.6) rotateY(-50deg);
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.stack {
  opacity: 0;
  z-index: -1;
  transform: scale(0.2);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.linear {
  opacity: 1;
  z-index: 2;
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.cubic {
  opacity: 0;
  z-index: 0;
  transform: scale(1.3) rotateY(-70deg);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.cubic-out {
  opacity: 0;
  z-index: 0;
  transform: scale(0.6) rotateY(50deg);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.stack {
  opacity: 1;
  z-index: 2;
  transform: scale(1);
}
#wrapper div.sections section div.content {
  position: relative;
}
#wrapper div.sections section div.content .video {
  width: 100%;
}
#wrapper div.sections section div.content .video .videowrapper {
  max-width: 500px;
  margin: 0 auto;
}
#wrapper div.sections section div.content .video .videowrapper video {
  width: 100%;
}
#wrapper div.sections section div.content .module-preview {
  width: 80%;
  max-width: 750px;
  margin: 25px auto;
}
#wrapper div.sections section div.content .module-preview .module-previewwrapper img {
  width: 100%;
}
/*---HERO---*/
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero .hero-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow: hidden;
}
.hero .content {
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 135px 5% 50px 5%;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero .content .head {
  letter-spacing: .1rem;
}
.hero .content .subhead {
  letter-spacing: .4rem;
}
.hero .content .box {
  margin-top: 50px;
}
.hero-img {
  width: 100%;
}
/*---SPLIT---*/
.split {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 5% 60px 5%;
  text-align: center;
}
.split .section {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}
.split .section .icon {
  margin: 0px 0px 20px 0px;
  font-size: 6rem;
  display: block;
  transition: margin .5s;
}
.split .section .head {
  margin: 0px 0px 10px 0px;
  transition: margin .5s;
}
.split .section .content {
  margin: 10px 0px 0px 0px;
  transition: opacity .5s, height .5s;
}
/* ----------------------Tablets ----------------*/
@media all and (min-width: 540px) {
  #wrapper nav ul {
    flex-direction: row;
  }
  #wrapper nav ul li {
    text-align: center;
  }
}
/* ------------------ Small Desktops ----------- */
@media only screen and (min-width: 768px) {
  /*---HERO---*/
  .hero .content {
    padding: 250px 15% 50px 15%;
  }
  /*---SPLIT---*/
  .split {
    flex-direction: row;
    padding-bottom: 0px;
  }
  .split .section {
    width: 33.33%;
    padding: 0px 2%;
    cursor: pointer;
    overflow: hidden;
  }
  .split .section .icon {
    margin: 60px 0px 40px 0px;
    font-size: 5rem;
  }
  .split .section .head {
    height: 50px;
    font-size: 1.5rem;
    margin: 40px 0px 60px 0px;
  }
  .split .section .content {
    opacity: 0;
    height: 0px;
    margin: 0px;
  }
  .split .section:hover .icon {
    margin: 0px 0px 20px 0px;
  }
  .split .section:hover .head {
    margin: 20px 0px 30px 0px;
  }
  .split .section:hover .content {
    opacity: 1;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /*---HERO---*/
  .hero .content {
    padding: 350px 15% 50px 15%;
  }
  /*---SPLIT---*/
  .split {
    padding: 0px 10%;
  }
  .split .section {
    width: 33.33%;
    padding: 0px 2%;
  }
}
