/*---PAGES---*/
#wrapper {
  color: #fff;
}
#wrapper nav {
  width: 100%;
}
#wrapper nav ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
#wrapper nav ul li {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
  list-style-type: none;
  padding: 15px;
}
#wrapper nav ul li:hover,
#wrapper nav ul li.active {
  background-color: #333;
}
#wrapper div.sections {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
#wrapper div.sections section {
  width: 100%;
  padding: 25px;
  flex-shrink: 0;
  background-color: #fff;
  color: #111;
  -webkit-transition: margin 1s, opacity .8s .2s, transform 1s;
  -moz-transition: margin 1s, opacity .8s .2s, transform 1s;
  transition: margin 1s, opacity .8s .2s, transform 1s;
}
#wrapper div.sections section.active.linear {
  z-index: 1;
}
#wrapper div.sections section.active.cubic {
  z-index: 1;
  margin: 0;
}
#wrapper div.sections section.active.cubic-out {
  z-index: 1;
  margin: 0;
}
#wrapper div.sections section.active.stack {
  z-index: 1;
}
#wrapper div.sections section.inactive-left.linear {
  opacity: 1;
  z-index: 0;
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.cubic {
  opacity: 0;
  z-index: 0;
  transform: scale(1.3) rotateY(70deg);
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.cubic-out {
  opacity: 0;
  z-index: 0;
  transform: scale(0.6) rotateY(-50deg);
  margin-left: -100%;
}
#wrapper div.sections section.inactive-left.stack {
  opacity: 0;
  z-index: -1;
  transform: scale(0.2);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.linear {
  opacity: 1;
  z-index: 2;
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.cubic {
  opacity: 0;
  z-index: 0;
  transform: scale(1.3) rotateY(-70deg);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.cubic-out {
  opacity: 0;
  z-index: 0;
  transform: scale(0.6) rotateY(50deg);
  margin-right: -100%;
}
#wrapper div.sections section.inactive-right.stack {
  opacity: 1;
  z-index: 2;
  transform: scale(1);
}
#wrapper div.sections section div.content {
  position: relative;
}
#wrapper div.sections section div.content .video {
  width: 100%;
}
#wrapper div.sections section div.content .video .videowrapper {
  max-width: 500px;
  margin: 0 auto;
}
#wrapper div.sections section div.content .video .videowrapper video {
  width: 100%;
}
#wrapper div.sections section div.content .module-preview {
  width: 80%;
  max-width: 750px;
  margin: 25px auto;
}
#wrapper div.sections section div.content .module-preview .module-previewwrapper img {
  width: 100%;
}
