/* ----------------------Tablets ----------------*/
@media all and (min-width: 540px) {
  #wrapper nav ul {
    flex-direction: row;
  }
  #wrapper nav ul li {
    text-align: center;
  }
  .preferences .row {
    max-width: 600px;
  }
  .preferences .row .box {
    padding: 25px 35px;
    width: 25%;
  }
  .preferences .row .box:nth-of-type(2),
  .preferences .row .box:nth-of-type(6) {
    border-right: 1px dashed #FFD635;
  }
  .preferences .row .box:nth-of-type(5),
  .preferences .row .box:nth-of-type(6) {
    border-bottom: none;
  }
  .timeline .row .timepoint .box {
    width: 150px;
    min-width: 150px;
    height: 150px;
    border-radius: 75px;
    padding: 0;
    padding-top: 60px;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
  }
  .timeline .row .timepoint .box i {
    opacity: 0;
  }
  .timeline .row .timepoint .box p {
    opacity: 0;
  }
  .timeline .row .timepoint .box:hover {
    padding: 25px;
    border-radius: 150px;
    width: 200px;
    min-width: 200px;
    height: 200px;
    transition: .2s;
    margin-right: -9.3%;
  }
  .timeline .row .timepoint .box:hover i {
    opacity: 1;
    transition: .5s .2s;
  }
  .timeline .row .timepoint .box:hover p {
    opacity: 1;
    transition: .5s .2s;
  }
  .timeline .row .timepoint .box:hover + .line .dot {
    border-width: 3px;
  }
  .timeline .row .timepoint .line .dot {
    transition: .2s;
  }
  .timeline .row .timepoint .time::before {
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #dd4397 transparent transparent;
    position: absolute;
    left: -15px;
    top: 15px;
  }
}
/* ------------------ Small Desktops ----------- */
@media only screen and (min-width: 768px) {
  /*---HERO---*/
  .hero .content {
    padding: 250px 15% 50px 15%;
  }
  /*---SPLIT---*/
  .split {
    flex-direction: row;
    padding-bottom: 0px;
  }
  .split .section {
    width: 33.33%;
    padding: 0px 2%;
    cursor: pointer;
    overflow: hidden;
  }
  .split .section .icon {
    margin: 60px 0px 40px 0px;
    font-size: 5rem;
  }
  .split .section .head {
    height: 50px;
    font-size: 1.5rem;
    margin: 40px 0px 60px 0px;
  }
  .split .section .content {
    opacity: 0;
    height: 0px;
    margin: 0px;
  }
  .split .section:hover .icon {
    margin: 0px 0px 20px 0px;
  }
  .split .section:hover .head {
    margin: 20px 0px 30px 0px;
  }
  .split .section:hover .content {
    opacity: 1;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /*---HERO---*/
  .hero .content {
    padding: 350px 15% 50px 15%;
  }
  /*---SPLIT---*/
  .split {
    padding: 0px 10%;
  }
  .split .section {
    width: 33.33%;
    padding: 0px 2%;
  }
  .preferences .row {
    max-width: 1200px;
  }
  .preferences .row .box {
    width: 12.5%;
    padding: 25px 50px;
    border-bottom: none;
  }
  .preferences .row .box:nth-of-type(4) {
    border-right: 1px dashed #FFD635;
  }
}
