<section class="page" ng-repeat="page in pages" ng-class="{'active':activePage==page.id, 'inactive-left':activePage>page.id, 'inactive-right':activePage<page.id, 'linear':true}">
	<div class="content">
		<h4>{{page.id}} {{page.title}}</h4><br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br><br>
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><br>
		<div class="video" ng-if="page.video!=null">
			<div class="videowrapper">
				<video controls>
					<source ng-src="{{page.video}}" type="video/mp4">
					Your browser does not support the video tag.
				</video>  
				<br><br> 
			</div>
		</div>

		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br><br>
		<div class="module-preview" ng-if="page.modules!=null" ng-repeat="module in page.modules" ng-click="nextModulImage()">
			<div class="module-previewwrapper" ng-repeat="img in module.images" > 
				<img src="{{img}}">
			</div>
		</div>
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><br>


	</div>
</section>