@font-face {
    font-family: "Crimson";
    src: url("crimson-serif/CrimsonText-Regular.ttf");
    font-weight: normal;
} 
@font-face {
    font-family: "Crimson";
    src: url("crimson-serif/CrimsonText-Bold.ttf");
    font-weight: bold;
} 

@font-face {
    font-family: "AlegreyaS";
    src: url("alegreya-sans/AlegreyaSans-Light.otf");
    font-weight: normal;
} 
@font-face {
    font-family: "AlegreyaS";
    src: url("alegreya-sans/AlegreyaSans-Medium.otf");
    font-weight: bold;
} 

@font-face {
    font-family: "Alegreya";
    src: url("alegreya-serif/Alegreya-Regular.otf");
    font-weight: normal;
} 
@font-face {
    font-family: "Alegreya";
    src: url("alegreya-serif/Alegreya-Black.otf");
    font-weight: bold;
} 