.beispiele{
	.row{
		display:flex;
		flex-direction: column;
		&:nth-child(2){
			padding-top: 35px;
		}
		&:last-of-type{
			padding-bottom: 35px;
		}
		.img{
			width:100%;
			padding:45px 75px;
			overflow: hidden;
			p{	
				-webkit-transition:1s;
				-moz-transition:1s;
				-o-transition:1s;
				transition:1s;
				color: @colorgrey;
				height:0px;
				opacity: 1;
				&.hide{
					height:0px;
					opacity: 0;
				}
			}
			img{
				width: 100%;
				-webkit-transition:1s;
				-moz-transition:1s;
				-o-transition:1s;
				transition:1s;
				&.hide{
					margin-top:250%;
					margin-bottom: -250%;
				}
			}
		}
		.text{
			width:100%;
			padding:45px 25px;
			text-align:center;
			.tech{
				width:100%;
				height:100px;
				display:flex;
				flex-direction:row;
				padding: 20px 0px;
				justify-content: center;
				.tech-icon{
					height: 100%;
					padding-right:25px;
					flex-grow: 0;
					img{
						height:100%;
					}
				}
			}
			h3{

				color:@color1;
				margin-bottom: 15px;
            	font-size:2rem;
			}
			p{
				color: @colorgrey;
				margin-bottom: 15px;
			}

		}
		&:nth-of-type(even){
			background-color: @colorgrey;
			.img{
				padding-bottom:15px;
				p{
					color:@color7;
				}
			}
			.text{
				padding-top:15px;
				p{
					color: @color7;
				}
			}
		}
		&:nth-of-type(odd){
			background-color: @color4;
			.img{
				padding-top:15px;
			}
			.text{
				padding-bottom:15px;
				.box{
					a, a:link, a:visited{
						color: @colorgrey;
						border-color: @colorgrey;
					}
					a:hover, a:focus{
						border-color: @color1;
					}
				}
			}
		}
	}
}