.bigpicture{
	height:550px;
	position:relative;
	background: rgb(35,35,35);
	background: -moz-radial-gradient(center, ellipse cover, rgba(35,35,35,1) 0%, rgba(12,12,12,1) 41%, rgba(0,0,0,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(35,35,35,1) 0%,rgba(12,12,12,1) 41%,rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(35,35,35,1) 0%,rgba(12,12,12,1) 41%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#000000',GradientType=1 );
	background-attachment: fixed;
	z-index: -3;
	.onpicture{
		display:flex;
		position:absolute;
		height:100%;
		width:100%;
		top:0;
		left:0;
		background: url('../img/daniel_durak1.png');
    	background-size: auto 100%;
    	background-repeat: no-repeat;
    	background-position: 80%;
		z-index:-2;
		.information{
			color: @color1;
			display:flex;
			flex-direction: column;
			position:relative;
			align-self:flex-end;
			//***position:absolute;
			//***bottom:20%;
			//top:30%;
			//***left: 5%;
			//***width:100%;
			//width:50%;
			z-index:-1;
			.row{
				display: flex;
				flex-direction:column;
				width:100%;
				margin-bottom:30px;
				padding: 0px 15px;
				.title{
					width:100%;
					//width:50%;
					font-size: 1.5rem;
					//***font-size: 2rem;
					text-align:left;
					hyphens: auto;
			        -ms-hyphens: auto;
			        -moz-hyphens: auto;
			        -webkit-hyphens: auto;
				}
				.text{
					width:100%;
					//width:50%;
					//padding-top: .7rem;
					//***line-height: 2rem;
					color: @colorgrey;
				}
				&:last-of-type{
					margin-bottom:70px;
				}
			}
		}
	}
}