nav{
	position:fixed;
	top:0;
	right:0;
	z-index: 500;
	width:100%;
	.nav-icon{
		cursor: pointer;
		float: right;
		height: 100px;
		width:100px;
		background-color: fadeout(@color4, 60%);
		#burger{
			width: 60px;
			height: 45px;
			position: relative;
			margin: 25px auto;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			span{
				display: block;
				position: absolute;
				height: 9px;
				width: 100%;
				background: @color1;
				border-radius: 9px;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
				&:nth-child(1) {
				  	top: 0px;
				}
				&:nth-child(2), &:nth-child(3) {
					top: 18px;
				}
				&:nth-child(4) {
				  	top: 36px;
				}
			}
		}
	}
	ul{
		list-style-type: none;
		position: absolute;
		padding:25px;
		top: 0;
		left:100%;
		z-index:-1;
		width:100%;
		background-color: @colorgrey;
		opacity: 0;
		-webkit-transition: opacity .5s 0s, left 1s 0.1s;
		-moz-transition: opacity .5s 0s, left 1s 0.1s;
		-o-transition: opacity .5s 0s, left 1s 0.1s;
		transition: opacity .5s 0s, left 1s 0.1s;
		li{
			border-bottom: 1px dashed @color2;
			padding: 10px 0px;
			a, a:link, a:visited{
				font-size: 1.5rem;
				display:block;
				text-decoration: none;
				color: @color2;
				white-space: nowrap;
				line-height:55px;
			}
			a:hover{
				color: @color1;
			}
			&:last-child{
				border-bottom:none;
			}
		}
	}
	&.open{
		margin-left: 0%;
		.nav-icon{
			#burger{
				span{
					&:nth-child(1) {
					  	top: 18px;
					  	width: 0%;
					  	left: 50%;
					}
					&:nth-child(2) {
					  -webkit-transform: rotate(45deg);
					  -moz-transform: rotate(45deg);
					  -o-transform: rotate(45deg);
					  transform: rotate(45deg);
					}
					&:nth-child(3) {
					  -webkit-transform: rotate(-45deg);
					  -moz-transform: rotate(-45deg);
					  -o-transform: rotate(-45deg);
					  transform: rotate(-45deg);
					}
					&:nth-child(4) {
					  top: 18px;
					  width: 0%;
					  left: 50%;
					}
				}
			}
		}
		ul{
			left: 0%;
			opacity: 1;
			-webkit-transition: opacity .5s 0.5s, left 1s 0s;
			-moz-transition: opacity .5s 0.5s, left 1s 0s;
			-o-transition: opacity .5s 0.5s, left 1s 0s;
			transition: opacity .5s 0.5s, left 1s 0s;
		}
	}
}



