.preferences{
	background-color:#FEF9F1;
	.row{
		display:flex;
		flex-wrap:wrap;
		padding: 25px 25px;
		width: 100%;
		margin:0 auto;
		.box{
			display:flex;
			align-items:center;
			width:50%;
			padding:50px;
			border-right: 1px dashed #FFD635;
			border-bottom: 1px dashed #FFD635;
				&:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6), &:nth-of-type(8){
					border-right:none;
				}
				&:nth-of-type(7), &:nth-of-type(8){
					border-bottom:none;
				}
			.img-wrapper{
				width:100%;
				img{
					width:100%;
				}
			}
		}
	}
}