.timeline{
	.row{
		padding:15px 5px; 
		background-color: @colorgrey;
		.timepoint{
			
			width:100%;
			position: relative;
			margin:0 auto;
			display:flex;
			justify-content: space-around;
			align-items: center;
			perspective:800px;
			.boxwrapper{
				width:60%;
				padding:15px;
				padding-right:0px;
				.box{
					background-color: @color4;
					padding: 25px;
					display: inline-block;
					border-radius: 5px;
					text-align:center;
					width: 100%;
					position: relative;
					h2{
						font-size: 1.2rem;
						color: @colorgrey;
					}
					i{
						margin: 15px 0px;
						font-size: 2rem;
					}
					p{
						color: @color2;
					}
					&:before{
						  position: absolute; 
						  content: "";
						  left: 14px;
						  width: 50%; 
						  bottom: 6%;
						  background: rgba(0, 0, 0, 0.7); 
						  box-shadow: 0 0px 6px 12px rgba(0, 0, 0, 0.7);
						  transform: rotate(-3deg);
						  z-index:-1;
					}
					&:after{
						  position: absolute; 
						  content: "";
						  right: 14px;
						  width: 50%; 
						  bottom: 6%;
						  background: rgba(0, 0, 0, 0.7); 
						  box-shadow: 0 0px 6px 12px rgba(0, 0, 0, 0.7);
						  transform: rotate(3deg);
						  z-index:-1;
					}
				}
			}
			.linewrapper{
				width:10%;
				.line{
					display: flex;
					align-content: center;
					align-items: center;
					position: relative;
					height:252px;
					.vertical{
						position: absolute;
						top:0px;
						left:0px;
						width: 50%;
						height:100%;
						border-right:1px dashed @color3;
					}
					.dot{
						background-color: @colorgrey;
						width:30px;
						height:30px;
						margin:2px auto;
						border-radius: 15px;
						border: 1px solid @color3;
						position: relative;
						z-index: 1;
						cursor: pointer;
						transition:.2s;
					}
				}
			}
			.timewrapper{
				width:30%;
				padding: 15px;
				padding-left: 0px;
				.time{
					background-color: @color4;
					border-radius: 5px;
					text-align: center;
					padding:15px;
					padding-top: 13px;
					font-size: 1.2rem;
					color: @colorgrey;
					position: relative;
					span{
						display: none;
					}
					&:before{
						  position: absolute; 
						  content: "";
						  left: 14px;
						  width: 50%; 
						  bottom: 10%;
						  background: rgba(0, 0, 0, 0.7); 
						  box-shadow: 0 0px 6px 12px rgba(0, 0, 0, 0.7);
						  transform: rotate(-5deg);
						  z-index:-1;
					}
					&:after{
						  position: absolute; 
						  content: "";
						  right: 14px;
						  width: 50%; 
						  bottom: 10%;
						  background: rgba(0, 0, 0, 0.7); 
						  box-shadow: 0 0px 6px 12px rgba(0, 0, 0, 0.7);
						  transform: rotate(5deg);
						  z-index:-1;
					}
				}
			}
			&:first-of-type{
				.linewrapper{
					.line{
						height:126px;
						margin-top: 126px;
						.dot{
							margin-top: -120px;
						}
					}
				}
			}
			&:last-of-type{
				.linewrapper{
					.line{
						height:126px;
						margin-bottom:126px;
					}
					.dot{
						margin-top: 126px;
					}
				}
			}
		}
	}
}